[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
flake8 = "*"
autopep8 = "*"
pytest-cov = "*"
pytest-asyncio = "*"

[packages]
# Available packages in the Python Runner:
# https://github.com/konstellation-io/kre-runners/blob/main/kre-py/requirements.txt
protobuf = "==3.19.0"
scikit-learn = "==1.1.2"

[requires]
python_version = "3"
