#buttons-screen {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  height: 100%;
  img {
    align-self: end;
  }
  #buttons {
    align-self: start;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 150px 150px;
    .MuiButton-containedPrimary {
      color: #52575d;
      font-weight: bold;
    }
  }
}
