[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "==0.12.2"
matplotlib = "==3.7.0"
pandas = "==1.5.3"
numpy = "==1.24.2"
scikit-learn = "==1.2.1"
mlflow = "==1.30.0"
boto3 = "==1.26.75"

[dev-packages]
pytest = "==7.2.1"
mock = "==5.0.1"

[requires]
python_version = "3.9"
