[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
flake8 = "*"
autopep8 = "*"
pytest-cov = "*"
pytest-asyncio = "*"

[packages]
protobuf = "==3.19.0"
joblib = "==1.2.0"

[requires]
python_version = "3"
