[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# Available packages in the Python Runner:
# https://github.com/konstellation-io/kre-runners/blob/main/kre-py/requirements.txt
scikit-learn = "==1.1.2"

[requires]
python_version = "3"
